<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
      <servlet-name>LoginService</servlet-name>
      <servlet-class>edu.ycp.CS320.server.LoginServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>LoginService</servlet-name>
      <url-pattern>/ycp_cs320_project_ui/LoginServiceImpl</url-pattern>
  </servlet-mapping>
  
    <servlet>
      <servlet-name>CalendarService</servlet-name>
      <servlet-class>edu.ycp.CS320.server.CalendarServiceImpl</servlet-class>
  </servlet>
  
   <servlet-mapping>
      <servlet-name>CalendarService</servlet-name>
      <url-pattern>/ycp_cs320_project_ui/CalendarServiceImpl</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>ExportUsers</servlet-name>
    <servlet-class>edu.ycp.CS320.server.ExportUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExportUsers</servlet-name>
    <url-pattern>/ExportUsers/*</url-pattern>
  </servlet-mapping>
  
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Ycp_cs320_project_ui.html</welcome-file>
  </welcome-file-list>

</web-app>