/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
	color: Black;
	margin: 40px 0px 70px;
	font-size: 2em;
	font-weight: bold;
	text-align: center;
	background-color: Silver;
}

h2 {
	color: Black;
	margin: 40px 0px 70px;
	font-size: 2em;
	font-weight: bold;
	text-align: center;
	background-color: red;
}
.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
Title {
	border-bottom: thin solid midnightblue;
	font-stretch: normal;
	font-variant: small-caps;
	font-size: 43px;
	font-style: normal;
	font-weight: normal;
}
.fireStation-panelBackground {
	background: #F7F2E0;
	color: Black;
	font-size: 18px;
	font-weight: bolder;
	background-color: #F7F2E0;
}
.ApparatusViewStyle {
	color: Black;
	font-size: 16px;
	font-weight: bold;
	background-color: Red;
}
.ApparatusDetailViewStyle {
	color: Black;
	border-top: 3px solid Black;
	border-right: Black;
	border-bottom: Black;
	border-left: Black;
	font-size: 16px;
	font-weight: bold;
	background-color: Red;
}
.ApparatusViewScrollPanelStyle {
	border: 3px solid Black;
}
